  <!-- xs = extra small screen 
sm = small screen
md = medium screen
lg = large screen -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Add-Edit-Update-Delete In Angular</h1>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-2 col-sm-6">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="math" placeholder="Math">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="physics" placeholder="Physics">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="chemistry" placeholder="Chemistry">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="tamil" placeholder="Tamil">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="english" placeholder="English">
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="submitValues()">{{btnname}}</button>

    </div>
  </div>
  <h1>current index {{EditIndex}}</h1>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Math</th>
            <th>Physics</th>
            <th>Chemistry</th>
            <th>Tamil</th>
            <th>English</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let getvalue of this.listSubjectValue; let i=index">
            <td>{{i+1}}</td>
            <td>{{getvalue.math}}</td>
            <td>{{getvalue.physics}}</td>
            <td>{{getvalue.chemistry}}</td>
            <td>{{getvalue.tamil}}</td>
            <td>{{getvalue.english}}</td>
            <td><button class="btn btn-primary btn-sm" (click)="Editing(i)">Edit</button>
              <button class="btn btn-danger btn-sm" (click)="delete(i)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> 
</div>